<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Chemise</string>
	<key>styleName</key>
	<string>Crousty_00</string>
	<key>copyright</key>
	<string>Created by Ludi,,, with FontForge 2.0 (http://fontforge.sf.net)</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>422</integer>
	<key>ascender</key>
	<integer>800</integer>
	<key>descender</key>
	<integer>-200</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string>2013-5-30: Created.</string>
	<key>openTypeHeadCreated</key>
	<string>2013/04/30 11:12:22</string>
	<key>openTypeNameVersion</key>
	<string>Version 00</string>
	<key>postscriptFontName</key>
	<string>Chemise-Crousty_00</string>
	<key>postscriptFullName</key>
	<string>Chemise Crousty_00</string>
	<key>postscriptWeightName</key>
	<string>Medium</string>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
    </dict>
</plist>
